.toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(100%);
  cursor: pointer;
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  z-index: 9;
  right: 0;

  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
  border-left: none;

  &:hover {
    color: white;
    background: var(--sidebar-active-resize-color);
    border-color: var(--sidebar-active-resize-color);
  }
}