.content {
  flex: 1;
  min-width: 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.resizeHandle {
  touch-action: none;
  user-select: none;
  width: 2px;
  background: light-dark(var(--border-color-light), var(--border-color-dark));
  cursor: col-resize;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    left: -4px;
    top: 0;
    bottom: 0;
  }

  &:hover {
    background-color: var(--sidebar-active-resize-color);
  }
}

.root {
  height: 100%;
  display: flex;
  z-index: 5;
  flex-shrink: 0;
  overflow: hidden;
  background: var(--mantine-color-body);

  &[data-resizing="true"] {
    .resizeHandle {
      background: var(--mantine-color-blue-5);
    }

    .toggle {
      background: var(--mantine-color-blue-5);
      border-color: var(--mantine-color-blue-5);
      color: var(--mantine-color-white);
    }
  }
}