.root {
  width: 100%;
  margin-left: 50%;
  position: relative;
  height: 100%;
}

.cell {
  position: absolute;
  white-space: nowrap;
  border-bottom: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
  border-right: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-size);
  height: 50%;

  &[data-weekend="true"] {
    background-color: light-dark(var(--header-bg-light-weekend), var(--header-bg-dark-weekend));
  }

  &[data-today="true"] {
    background-color: light-dark(var(--today-bg), var(--today-bg));
    color: white;
  }
}