.row {
  border: none;
  height: var(--row-height);

  &:nth-child(even) {
    background-color: var(--row-even-bg);
  }

  &:nth-child(odd) {
    background-color: var(--row-odd-bg);
  }
}

.headerRow {
  border: none;
}

.header {
  height: var(--header-height);
  font-size: var(--text-size);
  border-bottom: 1px solid var(--border-color);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cellContent {
  display: flex;
  align-items: center;

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

.cell {
  border: none;
  height: var(--row-height);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.wrapper {
  position: relative;
}