.row {
  border: none;
  height: var(--row-height);



  &:nth-child(even) {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }

  &:nth-child(odd) {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
  }
}

.headerRow {
  border: none;
}

.header {
  height: var(--header-height);
  font-size: var(--text-size);
  border-bottom: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cellContent {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

.cell {
  border: none;
  height: var(--row-height);
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th:not(:last-child),
.table td:not(:last-child) {
  border-right: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
  border-collapse: collapse;
}

.wrapper {
  position: relative;
}

.thead {
  position: sticky;
  top: 0;
  background: light-dark(var(--header-bg-light), var(--header-bg-dark));
  box-shadow: 0 1px 0 light-dark(var(--border-color-light), var(--border-color-dark));
}